
{% load crispy_forms_tags %}
{% load static %}

<link href='https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css' rel="stylesheet">
<script type="text/js" src='https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js'></script>
<link href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css' rel="stylesheet">
<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js'></script>
<link href="{% static 'scripts/main.css' %}" rel="stylesheet">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<script type="text/javascript" src="{% static 'scripts/task.js' %}"></script>
<script type="text/javascript">
    setTimeout(function(){
        if($('#msg').length>0){
            $('#msg').remove();
        }
    }, 2000);
</script>
<br><br>
<div class="row d-flex justify-content-center container">
    <div class="col-md-9">
        <div class="card-hover-shadow-2x mb-3 card">
            <div id="msgs">
            {% if messages %}
                {% for message in messages %}
                    <div class="alert {{ message.tags }} m-2" id="msg" role="alert">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endif %}
            </div>
            <div class="card-header-tab card-header">
                <div class="card-header-title font-size-lg text-capitalize font-weight-normal">
                    <i class="fa fa-tasks"></i>&nbsp;Todo List
                </div>
                <br/>
                <div style="float:left;">
                    <label class="checkbox-inline check">
                          <input type="checkbox" name="skills" id="radio" value="1"
                          {% if i == 1 %} checked {% endif %}> All Tasks
                    </label>
                    <label class="checkbox-inline check">
                          <input type="checkbox" name="skills" value="2"
                          {% if i == 2 %} checked {% endif %}> Active Tasks
                    </label>
                    <label class="checkbox-inline check">
                          <input type="checkbox" name="skills" value="3"
                          {% if i == 3 %} checked {% endif %}> Completed Tasks
                    </label>
                </div>
                <div class="w3-container" style="float:right;">
                  <div class="w3-dropdown-hover">
                      <button class="w3-button"><i class="fa fa-user"></i></button>
                      <button class="w3-button">{{ user.username }}</button>
                    <div class="w3-dropdown-content w3-bar-block w3-border">
                      <a href="{% url 'prof-url' user.id %}" class="w3-bar-item w3-button">Profile</a>
                      <a href="{% url 'logout-url' %}" class="w3-bar-item w3-button">Logout</a>
                    </div>
                  </div>
                </div>

            </div>
            <div class="scroll-area-sm">
                <perfect-scrollbar class="ps-show-limits">
                    <div style="position: static;" class="ps ps--active-y">
                        <div class="ps-content">
                            <ul class="list-group list-group-flush">
                                {% include 'home/items.html' %}
                            </ul>
                        </div>
                    </div>
                </perfect-scrollbar>
            </div>
            <div class="d-block text-right card-footer">
                 <form name="form" action="{% url 'add-url' %}" method="POST" onsubmit="return task_validations()">
                     {% csrf_token %}
                     <input type="text" id="textfield1" class="form-control" name="name">
                    <div class="mr-2 btn btn-link btn-sm" id="cancel" onclick="clearText()">Cancel</div>
                    <button type="submit" id="add_btn" class="btn btn-primary">Add Task</button>
                 </form>
            </div>
        </div>
    </div>
</div>

<script>
    $('.check input:checkbox').click(function() {
        $('.check input:checkbox').not(this).prop('checked', false);
        var completed = parseInt($(this).val());
        $.ajax({
            url: completed + "/",
            data: {'i': completed,},
            success: function (response) {
                 // replace the inside of #wrapper div with the injection.html (that has the new items values)
                 $('.list-group').replaceWith('<ul class="list-group list-group-flush">' + response + '</ul>');
                 $('#msgs').html();
            },
        });
    });
</script>
<script type="text/javascript">
    function clearText()
    {
        document.getElementById('textfield1').value = "";
    }
</script>
<!-- Load React. -->
<!-- Note: when deploying, replace "development.js" with "production.min.js". -->
<script src="https://unpkg.com/react@16/umd/react.development.js"
        crossorigin></script>
<script src="https://unpkg.com/react-dom@16/umd/react-dom.development.js"
        crossorigin></script>