{% extends 'account/base.html'%}
{% block title %}Login{% endblock %}

{% load static %}
<!--<link href="{% static 'index.css' %}" rel="stylesheet">-->
<script type="text/javascript">
    var a = 0;
    var b = 20 * a;
    alert(b);
    document.getElementById("demo").innerHTML =
    "The total is: " + b;
</script>


{% block content %}
    <p id="demo"></p>
    <h2>Login</h2>
    <form action="{% url 'login-url' %}" method="POST" class="form-group">
        {% csrf_token %}
        {{ form.non_field_errors }}
        {% for field in form %}
          <p>
            {{ field.label_tag|title }}<br>
            {{ field }}

            {% for error in field.errors %}
                {{ error }}
                <p style="color: red">{{ error }}</p>
            {% endfor %}
          </p>
        {% endfor %}
        <input type="hidden" name="next" value="{{ next }}">
        <button type="submit" class="btn btn-primary"> Login </button>
    </form>
    If you don't have account, you can register <a href="{% url 'sign-url' %}">here</a>
{% endblock %}

