{% extends 'account/base.html'%}
{% block title %}Login{% endblock %}

{% load static %}
<!--<link href="{% static 'index.css' %}" rel="stylesheet">-->

{% block content %}
    <img id="demo" src="{% static 'images/login1.png' %}"></img>
    <script type="text/javascript" src="{% static 'scripts/index.js' %}"></script>
    <h2>Login</h2>
    <form action="{% url 'login-url' %}" method="POST" class="form-group">
        {% csrf_token %}
        {{ form.non_field_errors }}
        {% for field in form %}
          <p>
            {{ field.label_tag|title }}<br>
            {{ field }}

            {% for error in field.errors %}
                {{ error }}
                <p style="color: red">{{ error }}</p>
            {% endfor %}
          </p>
        {% endfor %}
        <input type="hidden" name="next" value="{{ next }}">
        <button type="submit" class="btn btn-primary"> Login </button>
    </form>
    If you don't have account, you can register <a href="{% url 'sign-url' %}">here</a>

    <script type="text/javascript">
        var a = 0;
        var b = 20 * a;
        document.getElementById("demo").innerHTML =
        "The total is: " + b;
        let img = document.querySelector("img");
        img.onclick = function(){
            let name = prompt("Your name?");
            alert(name);
        }
        /*let myGreeting = setTimeout(function() {
          alert('Hello, Mr. Universe!');
        }, 2000)*/
    </script>

{% endblock %}

